{% extends "master.html" %}
{% block stuff %}    
    {% if post %}
        {% for i in post %}
        <div class="jumbotron" style="margin: 10%; background-color:rgba(252, 227, 89, 0.541); color: navy">
            <h1 class="display-4">{{i.title}}</h1>
            <p class="lead">By {{i.author}}</p>
            <hr class="my-4">
            <p>{{i.body}}</p>
            <div style="font-size: small; font-style:italic; margin-bottom:20px">Created at {{i.created_at}}</div>
            <div class="text-right">
            </div>
        </div>
        {% endfor %}
        
    {% else %}
        <p>No posts available</p>
    {% endif %}
{% endblock %}




